<body>
  <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
  <h1>Github Search</h1>
  <p class="pop">
    Welcome to where you can search someones github account and view their content.
  </p>
<form class="container bar" action="index.html" method="post">
  <div class="form-group">
    <input type="text" name="" value="" class="form-control" placeholder="Input your username" [(ngModel)]="username" name="username" (keyup)="searchUser()">
  </div>
</form>
<div class="container" *ngIf="user">
  <div class="card">
    <div class="card-header">
      {{user.name}} <small>-{{user.login}}</small>
      <span *ngIf="user.name">, Works at {{user.company}}</span> {{user.location}}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h2 class="card-title">{{user.name}}</h2>
                <img src="{{user.avatar_url}}" class="rounded-circle card-text img-fluid">
              </div>
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item" *ngIf="user.bio">{{user.bio}}</li>
                  <li class="list-group-item" *ngIf="user.hireable">Available for hire</li>
                  <li class="list-group-item" *ngIf="user.blog "><a href="{{user.blog}}" target="_blank">{{user.blog}}</a></li>
                  <li class="list-group-item" *ngIf="user.email"><a href="emailto:{{profile.email}}">{{user.email}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div>
          <p>
            <span class="badge badge-default">
              {{user.followers}} Follower
            </span>
            <span class="badge badge-primary">
              {{user.following}} Following
            </span>
            <span class="badge badge-success">
              {{user.public_gists}} Public Gists
            </span>
            <span class="badge badge-info">
              {{user.public_repos}} Public Repos
            </span>
          </p>
          <p><a href="{{user.html_url}}" class="btn btn-outline-success" target="_blank">View Profile On Github</a></p>
          <div class="card">
            <div class="card-header">
              <h3>Repos</h3>
            </div>
            <div class="card-body" *ngFor="let repo of repos">
              <p class="clearfix">
                {{repo.name}} <a href="{{repo.html_url}}" class="btn btn-sm btn-outline-warning pull-right" target="_blank">View Repo on Github</a>
              </p>
              <p>{{repo.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
